@using MongoDbProject.Dtos.ContactDtos
@model ResultContactDto
@*
    _HomeFooterComponent
*@

<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="footer-item">
        <h4 class="text-primary mb-4 border-bottom border-primary border-2 d-inline-block p-2 title-border-radius">LOCATION</h4>
        <div class="d-flex flex-column align-items-start">
            <a href="" class="text-body mb-4"><i class="fa fa-map-marker-alt text-primary me-2"></i> @Model.Address</a>
            <a href="" class="text-start rounded-0 text-body mb-4"><i class="fa fa-phone-alt text-primary me-2"></i> @Model.PhoneNumber</a>
            <a href="" class="text-start rounded-0 text-body mb-4"><i class="fas fa-envelope text-primary me-2"></i> @Model.EMail</a>
            <a href="" class="text-start rounded-0 text-body mb-4"><i class="fa fa-clock text-primary me-2"></i> 26/7 Hours Service</a>
        </div>
    </div>
</div>