@using Cental.DtoLayer.UserDtos
@model UserRegisterDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />

    <!-- Favicon icon -->
    <link rel="icon" href="/admin-theme/dist/assets/images/favicon.ico" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="/admin-theme/dist/assets/css/style.css">




</head>
<body>
    <!-- [ auth-signup ] start -->
    <div class="auth-wrapper">
        <div class="auth-content text-center">
            <img src="/admin-theme/dist/assets/images/logo.png" alt="" class="img-fluid mb-4">
            <div class="card borderless">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <form method="post">
                            <div class="card-body">
                                <h4 class="f-w-400">Sign Up Form</h4>
                                <hr>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" asp-for="FirstName" placeholder="FirstName" required>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" asp-for="LastName" placeholder="LastName" required>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="text" class="form-control" asp-for="UserName" placeholder="UserName" required>
                                </div>
                                <div class="form-group mb-3">
                                    <input type="email" class="form-control" asp-for="Email" placeholder="Email" required>
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" asp-for="Password" placeholder="Password" required>
                                </div>
                                <div class="form-group mb-4">
                                    <input type="password" class="form-control" asp-for="PasswordAgain" required placeholder="Password Again">
                                </div>

                                <p style="color:red">
                                    @Html.ValidationSummary()
                                </p>

                                <button class="btn btn-primary btn-block mb-4" type="submit">SignUp</button>
                                <hr>
                                <p class="mb-2">Do you have account? <a href="/Login/Index" class="f-w-400">Sign In</a></p>
                                <p class="mb-2">Did you came to wrong page? <a href="/" class="f-w-400">Go home</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signup ] end -->
    <!-- Required Js -->
    <script src="/admin-theme/dist/assets/js/vendor-all.min.js"></script>
    <script src="/admin-theme/dist/assets/js/plugins/bootstrap.min.js"></script>

    <script src="/admin-theme/dist/assets/js/pcoded.min.js"></script>

</body>
</html>
