
*.dll
/BasicCRUDOperations/BasicCRUDoperations/BasicCRUDoperations/bin
*.vsidx
*.vsidx
MyPortfolio/MyPortfolio/Web.config
MyPortfolio/MyPortfolio/Views/Web.config
MyPortfolio/MyPortfolio/obj/Release/TransformWebConfig/transformed/Web.config
MyPortfolio/MyPortfolio/obj/Release/TransformWebConfig/original/Web.config
MyPortfolio/MyPortfolio/obj/Release/TransformWebConfig/assist/Web.config
MyPortfolio/MyPortfolio/obj/Release/Package/PackageTmp/Web.config
MyPortfolio/MyPortfolio/obj/Release/Package/PackageTmp/Views/Web.config
MyPortfolio/MyPortfolio/Web.config
MyPortfolio/MyPortfolio/Views/Web.config
MyPortfolio/MyPortfolio/obj/Release/TransformWebConfig/transformed/Web.config
MyPortfolio/MyPortfolio/obj/Release/Package/PackageTmp/Web.config
MyPortfolio/MyPortfolio/obj/Release/Package/PackageTmp/Views/Web.config
MyPortfolio/MyPortfolio/Web.config
*.config
/MyPortfolio/MyPortfolio/bin
