@using Cental.DtoLayer.TestimonialDtos
@model List<UITestimonialDto>
@*
    _DefaultTestimonialComponent
*@

<div class="container-fluid testimonial pb-5">
    <div class="container pb-5">
        <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
            <h1 class="display-5 text-capitalize mb-3">Our Clients<span class="text-primary"> Reviews</span></h1>
            <p class="mb-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut amet nemo expedita asperiores commodi accusantium at cum harum, excepturi, quia tempora cupiditate! Adipisci facilis modi quisquam quia distinctio,
            </p>
        </div>
        
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            @foreach (var testimonial in Model)
            {
                <div class="testimonial-item">
                    <div class="testimonial-quote">
                        <i class="fa fa-quote-right fa-2x"></i>
                    </div>
                    <div class="testimonial-inner p-4">
                        <img src="@testimonial.ImageUrl" class="img-fluid" alt="">
                        <div class="ms-4">
                            <h4>@testimonial.NameSurname</h4>
                            <p>@testimonial.JobTitle</p>
                            <div class="d-flex text-primary">
                                @for (int i = 0; i <= testimonial.Review; i++)
                                {
                                    <i class="fas fa-star text-warning"></i>
                                }
                                @for (int i = 0; i < testimonial.Review - testimonial.Review; i++)
                                {
                                    <i class="fas fa-star text-body"></i>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="border-top rounded-bottom p-4">
                        <p class="mb-0">@testimonial.Comment</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>