@{
	ViewData["Title"] = "CategoryList";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Component.InvokeAsync("_DefaultBannerComponent")

<section id="client-holder" data-aos="fade-up">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="logo-wrap">
					<div class="grid">
						<a href="#"><img src="~/booksaw/images/client-image1.png" alt="client"></a>
						<a href="#"><img src="~/booksaw/images/client-image2.png" alt="client"></a>
						<a href="#"><img src="~/booksaw/images/client-image3.png" alt="client"></a>
						<a href="#"><img src="~/booksaw/images/client-image4.png" alt="client"></a>
						<a href="#"><img src="~/booksaw/images/client-image5.png" alt="client"></a>
					</div>
				</div><!--image-holder-->
			</div>
		</div>
	</div>
</section>

@await Component.InvokeAsync("_DefaultFeaturedComponent")

@await Component.InvokeAsync("_DefaultTodaysBookComponent")

@await Component.InvokeAsync("_DefaultPopularBookComponent")

@await Component.InvokeAsync("_DefaultQuoteComponent");

@await Component.InvokeAsync("_DefaultSubscribeComponent");