<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
            <div class="text-body">
                ©@DateTime.Now.Year, made with ❤️ by
                <a href="https://yavuzyazici.com" target="_blank" class="footer-link">Yavuz Yazici</a>
            </div>
            <div class="d-none d-lg-inline-block">
                <a href="~/" target="_blank" class="footer-link me-4">WebSite</a>
                <a href="https://github.com/yavuzyazici/egitim-fasli/tree/main/MyPortfolio" target="_blank" class="footer-link me-4">Github</a>
                <a href="@Url.Action("LogOut", "Login")" class="btn btn-sm btn-outline-danger"><i class="bx bx-log-out-circle me-1"></i>Logout</a>
            </div>
        </div>
    </div>
</footer>
