@using MongoDbProject.Dtos.BannerDtos
@model CreateBannerDto
@{
    ViewData["Title"] = "CreateBanner";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}

<div class="card-header">
    <h5>Create Banner</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        <label>Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <br />
        <label>Upper Title</label>
        <input type="text" asp-for="UpperTitle" class="form-control" />
        <br />
        <label>Image URL</label>
        <input type="text" asp-for="ImageUrl" class="form-control" />
        <br />
        <label>Upload Image</label>
        <input type="file" asp-for="ImageFile" class="form-control-file" />
        <br />
        <button class="btn btn-outline-primary">Create</button>
    </form>
</div>
