@model RestaurantProject.Models.RestaurantHero

<section id="hero" class="hero section light-background">

    <div class="container">
        <div class="row gy-4 justify-content-center justify-content-lg-between">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">@Model.Title</h1>
                <p data-aos="fade-up" data-aos-delay="100">@Model.Description</p>
                <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                    <a href="#book-a-table" class="btn-get-started">Booka a Table</a>
                    <a href="@Model.VideoUrl" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
                </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
                <img src="@Model.ImageUrl" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>
</section>