@model List<RestaurantProject.Models.RestaurantService>

<section id="why-us" class="why-us section light-background">

    <div class="container">

        <div class="row gy-4">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>Why Choose Yummy</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                        Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                    </p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>Learn More</span> <i class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->

            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4" data-aos="fade-up" data-aos-delay="200">

                    @foreach (var service in Model)
                    {
                        <div class="col-xl-4" data-aos="fade-up">
                            <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                                <i class="bi @service.Icon"></i>
                                <h4>@service.Title</h4>
                                <p>@service.Description</p>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>

    </div>

</section>