@using Cental.DtoLayer.BrandDtos
@model List<ResultBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
    var count = 1;
}
<div class="card-header">
    <h5>Brand</h5>
    <div class="card-header-right">
        <div class="btn-group card-option">
            <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="feather icon-more-horizontal"></i>
            </button>
            <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                <li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> maximize</span><span style="display:none"><i class="feather icon-minimize"></i> Restore</span></a></li>
                <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> Expand</span></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="card-body">

    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Brand Name</th>
        </tr>
        @foreach (var brand in Model)
        {
            <tr>
                <td>@count</td>
                <td>@brand.BrandName</td>
                <td><a asp-action="DeleteBrand" asp-route-id="@brand.BrandId" class="btn btn-danger">Delete</a></td>
                <td><a asp-action="UpdateBrand" asp-route-id="@brand.BrandId" class="btn btn-info">Update</a></td>
            </tr>
            count++;
        }
    </table>

    <a asp-action="CreateBrand" asp-controller="AdminBrand" class="btn btn-primary">Add New Brand</a>
</div>
