@model RestaurantProject.Models.RestaurantAdmin
@{
    ViewBag.Title = "AdminProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<li class="nav-item navbar-dropdown dropdown-user dropdown">
    <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
        <div class="avatar avatar-online">
            <img src="@Model.ImageUrl" alt="Profile Picture" class="w-px-40 h-auto rounded-circle">
        </div>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">
                <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                            <img src="@Model.ImageUrl" alt="Profile Picture for settings detail" class="w-px-40 h-auto rounded-circle">
                        </div>
                    </div>
                    <div class="flex-grow-1">
                        <h6 class="mb-0">@Model.Name</h6>
                        <small class="text-muted">Admin</small>
                    </div>
                </div>
            </a>
        </li>
        <li>
            <div class="dropdown-divider my-1"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/Profile/Index">
                <i class="bx bx-user bx-md me-3"></i><span>My Profile</span>
            </a>
        </li>
        <li>
            <div class="dropdown-divider my-1"></div>
        </li>
        <li>
            <a class="dropdown-item" href="/Login/LogOut">
                <i class="bx bx-power-off bx-md me-3"></i><span>Log Out</span>
            </a>
        </li>
    </ul>
</li>