@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<!-- Header Start -->
<div class="container-fluid bg-breadcrumb">
    <div class="container text-center py-5" style="max-width: 900px;">
        <h4 class="text-white display-4 mb-4 wow fadeInDown" data-wow-delay="0.1s">403 Page</h4>
        <ol class="breadcrumb d-flex justify-content-center mb-0 wow fadeInDown" data-wow-delay="0.3s">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active text-primary">403 Page</li>
        </ol>
    </div>
</div>
<!-- Header End -->

<!-- 403 Start -->
<div class="container-fluid bg-light py-5">
    <div class="container py-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.3s">
                <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                <h1 class="display-1">403</h1>
                <h1 class="mb-4">Access Denied</h1>
                <p class="mb-4">We’re sorry, for the page you have looked for you need access from admin! Maybe go to our home page?</p>
                <a class="btn btn-primary rounded-pill py-3 px-5" href="/">Go Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- 403 End -->