@model BookStore.WebUI.Dtos.ProductDtos.UpdateProductDto
@{
    ViewData["Title"] = "UpdateProduct";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post" enctype="multipart/form-data">
    <div class="container">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" asp-for="CategoryId" />
        <br /><br />
        <label>Product Name</label>
        <input type="text" asp-for="ProductName" class="form-control" />
        <br />
        <label>Product Stock</label>
        <input type="number" asp-for="ProductStock" class="form-control" />
        <br />
        <label>Product Price</label>
        <input type="text" asp-for="ProductPrice" class="form-control" />
        <br />
        <label>Product Description</label>
        <input type="text" asp-for="ProductDescription" class="form-control" />
        <br />
        <label>Product Author</label>
        <input type="text" asp-for="ProductAuthor" class="form-control" />
        <br />
        <label>Image File</label>
        <input class="form-control" type="file" asp-for="ImageFile" id="formFile">
        <br />
        <label>Image URL</label>
        <input class="form-control" type="text" asp-for="ImageUrl" id="formFile">
        <br />
        <button class="btn btn-primary">Update Product</button>
    </div>
</form>
