@model MyPortfolio.Models.MyPortfolioTblExpertise
<div class="row about-expertise" data-animate-block>
    <div class="column lg-12">

        <h2 class="text-pretitle" data-animate-el>@Model.Title</h2>

        <p class="h1">@Model.Description</p>

    </div>
</div>