<header class="s-header">

    <div class="header-mobile">
        <span class="mobile-home-link"><a href="/">Yavuz.</a></span>
        <a class="mobile-menu-toggle" href="#0"><span>Menu</span></a>
    </div>

    <div class="row wide main-nav-wrap">
        <nav class="column lg-12 main-nav">
            <ul>
                <li><a href="/" class="home-link">Yavuz.</a></li>
                <li class="current"><a href="#intro" class="smoothscroll">Banner</a></li>
                <li><a href="#about" class="smoothscroll">About Me</a></li>
                <li><a href="#works" class="smoothscroll">Projects</a></li>
                <li><a href="#contact" class="smoothscroll">Contact</a></li>
            </ul>
        </nav>
    </div>

</header>