@model List<MyPortfolio.Models.MyPortfolioTblTestimonial>

<div class="row testimonials">
    <div class="column lg-12" data-animate-block>

        <div class="swiper-container testimonial-slider" data-animate-el>

            <div class="swiper-wrapper">

                @foreach (var testimonial in Model)
                {
                    <div class="testimonial-slider__slide swiper-slide">
                        <div class="testimonial-slider__author">
                            <img src="@(testimonial.ImageUrl== null ? "/wwwroot/images/avatars/no-pic.png" : testimonial.ImageUrl)
                            " alt="Author image" class="testimonial-slider__avatar">
                            <cite class="testimonial-slider__cite">
                                <strong>@testimonial.NameSurname</strong>
                                <span>@testimonial.Title</span>
                            </cite>
                        </div>
                        <p>
                            @testimonial.Comment
                        </p>
                    </div>
                }

            </div> <!-- end swiper-wrapper -->

            <div class="swiper-pagination"></div>

        </div> <!-- end swiper-container -->

    </div> <!-- end column -->
</div>