
@{
    ViewBag.Title = "AddCustomer";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form method="post" class="form-group">
    <div>
        <label>Customer Name</label>
        <input type="text" name="CustomerName" class="form-control" />
        <br />
        <label>Customer Surname</label>
        <input type="text" name="CustomerSurname" class="form-control" />
    </div>
    <br />
    <div>
        <button class="btn btn-info">Add Customer</button>
    </div>
</form>
