<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/royal-master/image/favicon.png" type="image/png">
    <title>Royal Hotel</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/royal-master/css/bootstrap.css">
    <link rel="stylesheet" href="/royal-master/vendors/linericon/style.css">
    <link rel="stylesheet" href="/royal-master/css/font-awesome.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/royal-master/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/royal-master/vendors/owl-carousel/owl.carousel.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/royal-master/css/style.css">
    <link rel="stylesheet" href="/royal-master/css/responsive.css">
</head>
<body>

    @RenderBody()

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/royal-master/js/jquery-3.2.1.min.js"></script>
    <script src="/royal-master/js/popper.js"></script>
    <script src="/royal-master/js/bootstrap.min.js"></script>
    <script src="/royal-master/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/royal-master/js/jquery.ajaxchimp.min.js"></script>
    <script src="/royal-master/js/mail-script.js"></script>
    <script src="/royal-master/vendors/bootstrap-datepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="/royal-master/vendors/nice-select/js/jquery.nice-select.js"></script>
    <script src="/royal-master/js/mail-script.js"></script>
    <script src="/royal-master/js/stellar.js"></script>
    <script src="/royal-master/vendors/lightbox/simpleLightbox.min.js"></script>
    <script src="/royal-master/js/custom.js"></script>
</body>
</html>