@using BookStore.WebUI.Dtos.QuoteDtos
@model ResultQuoteDto
@*
    _DefaultQuoteComponent
*@

<section id="quotation" class="align-center pb-5 mb-5">
	<div class="inner-content">
		<h2 class="section-title divider">Quote of the day</h2>
		<blockquote data-aos="fade-up">
			<q>
				@Model.QuoteText
			</q>
			<div class="author-name">@Model.QuoteAuthor</div>
		</blockquote>
	</div>
</section>